
#title-card {
    background: var(--bg);
    border-radius: 20px;
    display: inline-block;
    width: 95%;
    padding: var(--spacing-m);
    margin: var(--spacing-xxl);
    margin-left: 2.5%;
}

#title-card h1 {
    color: var(--text);
}

#new-posts-highlight {
    background: var(--bg);
    border-radius: 20px;
    display: inline-block;
    width: 95%;
    padding: var(--spacing-m);
    margin: var(--spacing-l);
    margin-left: 2.5%;
}

#new-posts-highlight h1 {
    font-size: var(--spacing-l);
}

#thread-highlights {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.thread {
    background: var(--bg-light);
    padding: var(--spacing-s);
    margin: var(--spacing-s) 0;
    border-radius: 8px;
}

.thread-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px var(--text-muted) solid;
    padding: var(--spacing-xxs);
}

.thread-top p {
    display: inline;
    line-height: 0;
    padding: 0;
}

.thread .thread-title {
    color: var(--text);
    font-size: 1.25rem;
}

.thread .thread-creator {
    font-style: italic;
    cursor: pointer;
    color: var(--text-muted);
    transition: color 250ms;
}

.thread .thread-creator:hover {
    color: var(--text);
}

.thread .thread-content-preview {
    line-height: var(--spacing-m);
}