* {
    box-sizing: border-box;
}

:root {

}

body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em;
    background: rgb(235, 235, 235);
    border-bottom: 1px solid black;
}

nav button {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
    color: blue;
    font-weight: 500;
    transition: background 250ms ease-in-out;
    padding: 0.25em;
}

nav button:hover {
    background: rgb(122, 118, 179);
}


footer {
    display: flex;
    margin: 0;
    padding: 1em;
    background: blue;
    min-height: 100px;
    flex-direction: row;
    gap: 20px;
    align-content: flex-start;
    justify-content: space-between;
}